<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iKid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E06DA1C1CD07012001B5B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E06DA321CD07012001B5B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E06DA3D1CD07012001B5B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FDFEC41CD1BF180058DCA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
